* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}
body {
  height: 100vh;
  display: flex;
  background-color: #f0ccd0;
}
.container {  
  display: flex;
  height: 600px;
  width: 850px;
  margin: auto;
  border: 1px solid #f0ccd0;
  border-radius: 48px;
  overflow: hidden;
  background: linear-gradient(
    135deg,
    #ffffff 0%,
    #ffffff 25%,
    #f6d6da 60%,
    #c8c2d2 100%
  );
  box-shadow: 0 10px 30px #8f4a47;
}

/* LEFT SIDE */
.left {
  width: 50%;
  background-image: url("../../assets/Intersect.png");
  background-size: cover;
  background-position: center;
}

.logo {
  width: 150px;
  margin: 0.5rem;
  padding: 1rem;
  background-color: transparent;
}

/* RIGHT SIDE */
.right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.back-image {
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
  width: 25px;
}


/* user icon */
.signup-icon {
  width: 100px;
  height: 100px;
  background: #8f4a47;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-left: 100px;
  color: white;
  font-size: 32px;
  margin-bottom: 10px;
}

h2 {
  font-family: Inria Serif;
  color: #9b514d;
  margin-bottom: 0px;
  text-align: center;
  margin-right: 60px;
  margin-bottom: 10px;
  -webkit-text-stroke: 0.5px #0a0909;
}

/* labels */
label {
  font-family: Inter;
  display: block;
    text-align: left;
  color: #7c3f3c;
  font-size: 16px;
  margin-bottom: 2px;
  margin-top: 0;
    padding: 0;
}
.field {
  margin-bottom: 25px;
}
/* inputs */
.input-box {
  display: flex;
  align-items: center;
  background: #ffffff;
  padding: 10px 20px;
  border-radius: 30px;
   border: 1px solid #7c3f3c;
   margin-bottom: 10px;
}

.input-box i {
  margin-right: 8px;
  color: #7c3f3c;
}

.input-box input {
  border: none;
  outline: none;
  background: none;
  width: 100%;
}

.select-group {
  display: flex;
  gap: 15px;
}

select {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #7c3f3c;
  /* outline: none; */
  border-radius: 25px;
  background: #ffffff;
  }

/* signup button */
.btn-signup {
  display: inline-block; 
  width: 50%;
  padding: 12px;
  border-radius: 25px;
  background: #8f4a47;
  color: white;
  font-size: 16px;
  margin-left: 90px;
  text-align: center; 
  text-decoration: none;
  font-family: Inria Serif;
}

.error-box {
  color: red;
  font-size: small;
  
}