body {
  margin: 0;
  overflow-x: hidden;
  background: linear-gradient(135deg, #b27474 0%, #c0c9d8 60%, #c0c9d8 100%);
}
.dashboard {
  display: flex;
}
.card {
  width: 80%;
  height: 1600px;
  margin-left: 25px;
  margin-top: 30px;

  border: 1px solid #f0ccd0;
  border-radius: 48px;
  background: white;
}
.navbar_dash {
  width: 90%;
  height: 80px;
  border-radius: 50px;
  background: linear-gradient(135deg, #d7a2a2 25%, #bed0f1 80%);
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin: 20px auto;
}
.search-bar {
  width: 321px;
  height: 60px;
  border-radius: 50px;
  border: 1px solid #a15958;
  margin-left: 250px;
}
.search-bar::placeholder {
  padding-left: 20px;
  font-size: 20px;
}
.search-button {
  height: 65px;
  margin-left: 10px;
  cursor: pointer;
  background: transparent;
}
.score {
  width: 220px;
  height: 60px;
  border-radius: 50px;
  background-color: white;
  color: #a15958;
  border: 1px solid #a15958;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-left: 90px;
}
.theme_btn {
  height: 65px;
  margin-left: 90px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  width: 100%;
  margin-top: 40px;
  margin-left: 50px;
}
.profile img {
  width: 61px;
  height: 61px;
}

.profile p {
  margin: 0;
  font-size: 32px;
  color: #a15958;
  flex-shrink: 0;
  font-family: Inter;
}
.Menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 24px;
  margin-left: 80px;
  margin-top: 0px;
  font-family: Inter;
}
.MM {
  color: #7a89aa;
  font-size: 20px;
  flex-shrink: 0;
  margin-bottom: 0;
}
.RA {
  color: #7a89aa;
  font-size: 20px;
  flex-shrink: 0;
  margin-bottom: 0%;
}
.menu-items {
  margin-left: 30px;
  font-size: 28px;
}
.menu-items p {
  margin-bottom: 70px;
}
.menu-items img {
  margin-right: 7px;
}
.discover {
  color: #7a89aa;
  font-size: 20px;
  flex-shrink: 0;
  margin-bottom: 0%;
}
.full-body {
  font-size: 25px;
  margin-left: 30px;
  display: flex;
  gap: 10px;
}
.full-body img {
  width: 25px;
  height: 25px;
}
.Account {
  color: #7a89aa;
  font-size: 20px;
  flex-shrink: 0;
  margin-bottom: 0%;
}
.Log-Out {
  font-size: 25px;
  margin-left: 30px;
  display: flex;
  gap: 10px;
}
.Log-Out img {
  width: 25px;
  height: 25px;
}
