body {
  width: 1550px;
  height: 2460px;
  background: linear-gradient(135deg, #b27474 0%, #c0c9d8 60%, #c0c9d8 100%);
}

.card {
  width: 100%;
  height: 99%;
  margin-left: 25px;
  margin-top: 30px;

  border: 1px solid #f0ccd0;
  border-radius: 48px;
  background: white;
}
.navbar_dash {
  width: 90%;
  height: 80px;
  border-radius: 50px;
  background: linear-gradient(135deg, #d7a2a2 25%, #bed0f1 80%);
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin: 20px auto;
}
.search-bar {
  width: 321px;
  height: 60px;
  border-radius: 50px;
  border: 1px solid #a15958;
  margin-left: 300px;
}
.search-bar::placeholder {
  padding-left: 20px;
  font-size: 20px;
}
.search-button {
  height: 65px;
  margin-left: 10px;
  cursor: pointer;
  background: transparent;
}
.score {
  width: 200px;
  height: 60px;
  border-radius: 50px;
  background-color: white;
  color: #a15958;
  border: 1px solid #a15958;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-left: 100px;
}
.theme_btn {
  height: 65px;
  margin-left: 100px;
  background: transparent;
  border: none;
  cursor: pointer;
}
