* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  background-color: #f0ccd0;
}

.container {
  
  display: flex;
  height: 600px;
  width: 850px;
  margin: auto;
  border: 1px solid #f0ccd0;
  border-radius: 48px;
  overflow: hidden;
  background: linear-gradient(
    135deg,
    #ffffff 0%,
    #ffffff 25%,
    #f6d6da 60%,
    #c8c2d2 100%
  );
  box-shadow: 0 10px 30px #8f4a47;
}

/* LEFT SIDE */

.left {
  width: 50%;
  background-image: url("../../assets/Intersect.png");
  background-size: cover;
  background-position: center;
}

.logo {
  width: 150px;
  margin: 0.5rem;
  padding: 1rem;
  background-color: transparent;
}

/* RIGHT SIDE */

.right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.back-image {
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
  width: 25px;
}

/* login box */

.login-box {
  width: 500px;
  padding: 40px;
  padding-top: 0;
}

/* user icon */

.user-icon {
  width: 100px;
  height: 100px;
  background: #8f4a47;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-left: 100px;
  color: white;
  font-size: 32px;
  margin-bottom: 10px;
}

h2 {
  color: #9b514d;
  margin-bottom: 0;
  text-align: center;
  margin-right: 60px;
  margin-bottom: 10px;
  -webkit-text-stroke: 1px #8e4a46;
}

/* labels */

label {
  display: block;
    text-align: left;
  color: #7c3f3c;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 0;
    padding: 0;
}

/* inputs */

.input-box {
  display: flex;
  align-items: center;
  background: #eee;
  padding: 10px 20px;
  border-radius: 30px;
  margin-bottom: 25px;
  }
.input-box i {
  margin-right: 8px;
  color: #7c3f3c;
  }
.input-box input {
  border: none;
  outline: none;
  background: none;
  width: 100%;
  }
/* forgot */

.forgot {
  font-size: 12px;
  text-align: left;
  color: #7c3f3c;
  margin-top: 5px;
}
.forgot a {
  color: #7c3f3c;
  text-decoration: none;
}

/* create account */

.create {
  margin: 10px 0;
  font-size: 13px;
  color: #7c3f3c;
}

.create a {
  color: #7c3f3c;
  font-weight: bold;
  text-decoration: none;
}

/* login button */

.login-btn {
  width: 50%;
  padding: 12px;
  border: none;
  border-radius: 25px;
  background: #8f4a47;
  color: white;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 90px;
  cursor: pointer;
}

/* OR line */

.or {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.or hr {
  flex: 1;
  border: none;
  height: 1px;
  background: #aaa;
}

.or span {
  margin: 0 10px;
  color: #7c3f3c;
}

/* social icons */

.social {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  color: #7c3f3c;
}

.social i {
  cursor: pointer;
}
/*.signup-box {
  width: 500px;
}

h2 {
  color: #7c3f3c;
  margin-bottom: 60px;
  text-align: center;
}
/* labels */
/*label-signup {
  display: block;
  text-align: left;
  margin: 10px 0 5px;
  color: #7c3f3c;
  font-size: 20px;
  margin-bottom: 10px;
}
/* inputs */
/*.input-box {
  display: flex;
  align-items: center;
  background: #eee;
  padding: 20px 40px;
  border-radius: 30px;
  margin-bottom: 25px;
}
.input-box i {
  margin-right: 8px;
  color: #7c3f3c;
}
.input-box input {
  border: none;
  outline: none;
  background: none;
  width: 100%;
}
.row {
  display: flex;
  gap: 15px;
}

select {
  width: 100%;
  padding: 12px 15px;
  border: none;
  outline: none;
  border-radius: 25px;
  background: #f3e6e6;
  box-shadow:
    4px 4px 8px rgba(0, 0, 0, 0.2),
    -4px -4px 8px rgba(255, 255, 255, 0.8);
}

/* login button */
/*.signup-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 25px;
  background: #8f4a47;
  color: white;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}
